<!--회원가입 페이지-->
<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>signUp</title>
    <meta charset="UTF-8">
</head>
<body>
<form method="post" th:action="@{/controller/UserController}">
    <div class="container">
        <h1>회원가입</h1>
        <div class="form-group">
            <label for="inputEmail4">userId</label>
            <input type="text" class="form-control" id="inputEmail4" name="userId" placeholder="사용자 아이디">
        </div>
        <div class="form-group">
            <label for="inputPassword4">password</label>
            <input type="password" class="form-control" id="inputPassword4" name="userPW" placeholder="사용자 비밀번호">
        </div>
        <div class="form-group">
            <label for="inputAddress">userName</label>
            <input type="text" class="form-control" id="inputAddress" name="userName" placeholder="사용자 이름">
        </div>
        <div class="form-group">
            <label for="inputMajor">userMajor</label>
            <input type="text" class="form-control" id="inputMajor" name="userMajor" placeholder="학과">
        </div>
        <div class="form-group">
            <label for="inputSchoolNum">userSchoolNum</label>
            <input type="text" class="form-control" id="inputSchoolNum" name="userSchoolNum" placeholder="학번">
        </div>
        <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
</form>
</body>
</html>